.md-icon-button-menu-component
  md-icon-button(on-buttonClick="onButtonClicked()" bind-icon="icon" bind-image="image")
  md-menu(bind-items="items" bind-open="open" on-itemSelected="onItemSelected($event)" on-closed="onMenuClosed()" bind-searchEnabled="searchEnabled")
