.text-field-component
  ng-content
  span.label(bind-ngClass="{'hovered': filled && hovered, 'filled': filled || focused, 'focused': focused}") {{label}}
  span.right(*ngIf="rightText") {{rightText}}
  ng-content
