@import "src/styles/tailwind";
@import "src/styles/fonts";

$chip-height: 32px;
$chip-padding: 12px;
$chip-spacing: 4px;

.md-chip-component {
  @extend .typeface-s2;
  @apply .font-regular .bg-teal .text-white .rounded-full .select-none;
  height: $chip-height;
  line-height: $chip-height;
  padding: 0 $chip-padding;
  margin: $chip-spacing;
}
