.list-component(on-click="onClicked()")
  h5 {{ list.displayName }}
  .converters
    .converter(*ngFor="let c of list.converters")
      md-chip(text="{{getUnitName(c, c.input.unitSymbol)}}")
      .material-icons arrow_right_alt
      .outputs
        md-chip(*ngFor="let o of c.outputs" text="{{getUnitName(c, o.unitSymbol)}}")
