@import 'src/styles/animations';
@import 'src/styles/tailwind';

$width: 200px;
$max-height: 300px;

.md-menu-component {
  @apply .relative .z-10;

  .menu {
    @apply .absolute .pin-r .z-10 .flex .flex-col;
    @apply .bg-white .rounded .shadow-md .py-1;
    @apply .overflow-y-auto;

    max-height: $max-height;
    width: $width;

    md-text-field {
      @apply .mx-2 .mt-1 .mb-2;
    }

    .menu-items {
      .menu-item {
        @apply .flex .items-center;
        @apply .select-none;
        @apply .px-4 .py-2 .w-auto;
        @apply .text-dark-disabled;

        .material-icons {
          @apply .pr-4;
        }

        &.enabled {
          @apply .cursor-pointer .text-dark;

          &:hover {
            @apply .bg-black-5;
          }

          &.selected {
            @apply .bg-black-5;
          }
        }
      }
    }
  }
}
