doctype html

.md-menu-component(bind-ngClass="{'open': open}")
  .menu
    md-text-field(*ngIf="searchEnabled" label="Search" dense="true")
      input(#input bindon-ngModel="searchValue")
    .menu-items
      .menu-item(*ngFor="let item of displayedItems; index as i" on-click="onItemClick(item)" bind-ngClass="{'selected':i === selectedIndex, 'enabled':item.enabled}")
        span.material-icons(*ngIf="item.icon") {{item.icon}}
        span {{item.displayName}}
