doctype html

.md-list-button-component(bind-mdRipple="isDark ? 'Dark' : 'Light'" bind-ngClass="{'active': selected, 'dark': isDark}")
  span.material-icons(*ngIf="icon") {{icon}}
  span.image(*ngIf="image" bind-ngStyle="{ 'background-image': 'url(' + image + ')' }")
  span {{text}}
