doctype html

.md-list-button-component(bind-mdRipple="isLight ? 'Dark' : 'Light'" bind-ngClass="{'active': selected, 'light': isLight}")
  span.material-icons(*ngIf="icon") {{icon}}
  img(*ngIf="image" bind-src="image")
  span {{text}}
