@import 'src/styles/animations';
@import "src/styles/fonts";
@import "src/styles/tailwind";

$icon-size: 24px;
$icon-spacing: 32px;

$height: 40px;
$spacing: (56px - $height) / 2;

.md-list-button-component {
  @apply .select-none .cursor-pointer;
  @apply .bg-white-0 .text-light-md .rounded;
  @apply .flex .items-center .w-full;
  @extend .typeface-btn;

  height: $height;
  margin: $spacing 0;
  padding: 0 $spacing / 2;

  @include transition();

  .material-icons {
    font-size: $icon-size;
    margin-right: $icon-spacing;
  }

  &:hover {
    @apply .bg-white-10 text-light;
  }

  &.active {
    @apply .bg-white-20 text-light;
  }
}
