doctype html

.md-rail-component
  .navigation-item(#item *ngFor="let i of navigationItems" bind-ngClass="{'active': isActive(i)}" on-click="onNavigationItemClicked(i)")
    .ripple-target(mdRipple="Light")
    .material-icons {{ i.iconName }}
    .title('[@stateTransitions]'="getTitleState(i)") {{ i.displayName }}
