.md-rail-component
  .navigation-item(*ngFor="let i of navigationItems" bind-ngClass="{'active': isActive(i)}" on-click="onNavigationItemClicked(i)")
    .material-icons {{ i.iconName }}
    .title {{ i.displayName }}
