md-dialog(header="Sign in")
  .body
    md-list-button(*ngFor="let i of data.identityProviders" on-click="result.emit(i)" bind-text="'Sign in with ' + i.displayName" bind-image="i.iconUrl" isDark="true")
  .actions
    md-flat-button(on-click="onCancelClicked()" text="Cancel" bind-isDark="true")

//.login-modal-component
//  md-list-button(*ngFor="let i of data.identityProviders" on-click="result.emit(i)" bind-text="'Sign in with ' + i.displayName" bind-image="i.iconUrl" isDark="true")
//  .buttons
//    md-flat-button(on-click="onCancelClicked()" text="Cancel" bind-isDark="true")
