@import "src/styles/fonts";
@import "src/styles/tailwind";

$border-radius: 16px;
$backdrop-padding: 16px;

$app-bar-height: 56px;
$app-bar-menu-button-spacing: 24px;

.md-backdrop-component {
  @apply .h-full .flex .flex-col;
  @apply .bg-primary;

  .back-layer {
    @apply .text-white;
    padding: 0 $backdrop-padding;

    .app-bar {
      @apply .flex .items-center;

      height: $app-bar-height;

      .menu-button {
        margin-right: $app-bar-menu-button-spacing;
      }

      .actions {
        margin-left: auto;
      }
    }
  }

  .front-layer {
    @apply .bg-white .h-full .flex-1 .flex .flex-col .rounded-t-lg;

    .header {
      @apply .mx-4 .mt-4 .pb-4 .border-b .border-black-10;
      @extend .typeface-s1;
    }

    .content {
      @apply overflow-y-auto .flex-1;
    }
  }
}
