doctype html

.md-backdrop-component(mdGradient)
  .back-layer
    ng-content(select=".options")
  .front-layer('[@slideIn]'="'open'")
    .header {{header}}
    .content
      ng-content(select=".list")
