doctype html

.conversion-component
  .header
    span.title {{conversion.unitType.displayName}} Converter
    span.buttons
      icon-button(on-buttonClick="onCategoryClicked()" icon="category")
        search-menu(bind-items="unitTypes" bind-open="categoriesOpen" on-itemSelected="onCategoryItemClicked($event)")
      icon-button(on-buttonClick="onCloseClicked()" icon="close")
  .body
    .row
      text-field(label="Input" bind-rightText="conversion.inputUnit.symbol")
        input(#input bindon-ngModel="conversion.input" type="number")
      icon-button(on-buttonClick="onInputUnitClicked()" icon="category")
        search-menu(bind-items="getUnitItems()" bind-open="inputUnitsOpen" on-itemSelected="onInputUnitItemClicked($event)")

    .row
      text-field(label="Output" bind-rightText="conversion.outputUnit.symbol")
        input(#input bindon-ngModel="conversion.output" type="number" readonly)
      icon-button(on-buttonClick="onOutputUnitClicked()" icon="category")
        search-menu(bind-items="getUnitItems()" bind-open="outputUnitsOpen" on-itemSelected="onOutputUnitItemClicked($event)")
