doctype html

.conversion-component
  .header
    span.title {{conversion.unitType.displayName}} Converter
    span.buttons
      icon-button(on-buttonClick="onCopyClicked()" icon="file_copy")
      icon-button(on-buttonClick="onSwapClicked()" icon="swap_vert")
      icon-button-menu(icon="category" bind-items="unitTypes" bind-open="categoriesOpen" on-itemSelected="onCategorySelected($event)" searchEnabled="true")
      icon-button(on-buttonClick="onCloseClicked()" icon="close")
  .body
    .row
      text-field(label="Input" bind-rightText="conversion.inputUnit.symbol")
        input(#input bindon-ngModel="conversion.input" type="number")
      icon-button-menu(icon="arrow_drop_down" bind-items="getUnitItems()" on-itemSelected="onInputUnitSelected($event)" searchEnabled="true")

    .row
      text-field(label="Output" bind-rightText="conversion.outputUnit.symbol")
        input(#input bindon-ngModel="conversion.output" type="number" readonly)
      icon-button-menu(icon="arrow_drop_down" bind-items="getUnitItems()" on-itemSelected="onOutputUnitSelected($event)" searchEnabled="true")
