doctype html

.conversion-component
  .header
    icon-button(on-click="onCloseClicked()" icon="close")
  .body
    text-field(*ngIf="conversion" label="Input")
      input(#input bindon-ngModel="conversion.input" type="number" step="0.1")

    text-field(*ngIf="conversion" label="Output")
      input(#input bindon-ngModel="conversion.output" type="number" step="0.1")
