@import "src/styles/tailwind";

$converter-min-width: 285px;

.conversions-container {
  @apply .flex .flex-wrap;

  div {
    flex: 1 0 auto;
    min-width: $converter-min-width;
  }

  .empty {
    @apply .text-xl .mx-auto .mt-32;
  }
}
