@import 'src/styles/tailwind';

$width: 200px;
$max-height: 300px;

.menu-component {
  @apply .relative;

  .menu {
    @apply .absolute .pin-r .z-10 .flex .flex-col;
    @apply .bg-white .text-black .rounded-lg .shadow-md .py-1;

    width: $width;

    text-field {
      @apply .mx-2 .mt-1 .mb-2;
    }

    .menu-items {
      @apply .overflow-y-auto;
      max-height: $max-height;

      .menu-item {
        @apply .select-none .cursor-pointer;
        @apply .px-4 .py-2;
        width: auto;

        &:hover {
          @apply .bg-grey-lighter;
        }

        &:active {
          @apply .bg-grey-light;
        }

        &.selected {
          @apply .bg-grey-lighter;
        }
      }
    }
  }
}
