doctype html

.md-raised-button-component(mdRipple mdGradient)
  span.material-icons.left(*ngIf="icon && !iconFloatRight") {{icon}}
  span {{text}}
  span.material-icons.right(*ngIf="icon && iconFloatRight") {{icon}}
