@import 'src/styles/animations';
@import "src/styles/fonts";
@import "src/styles/tailwind";

$height: 55px;
$width: 80px;
$padding-x: 16px;

$icon-margin-outer: -4px;

.md-raised-button-component {
  @apply .select-none .cursor-pointer;
  @apply .bg-primary .text-light .rounded .shadow;
  @apply .flex .items-center .justify-between;
  @extend .typeface-btn;

  height: $height;
  width: $width;
  padding: 0 $padding-x;

  @include transition();

  .material-icons {
    font-size: 18px;

    &.left {
      margin-left: $icon-margin-outer;
    }

    &.right {
      margin-right: $icon-margin-outer;
    }
  }

  &:hover {
    @apply bg-primary;
    @apply .shadow-md;
  }

  &:active {
    @apply bg-primary-light;
    @apply .shadow-lg;
  }
}
