@import 'tailwind';
@import 'fonts';
@import 'animations';
@import 'breakpoints';

html,
body {
  @apply .bg-white .text-black .m-0 .font-sans .h-full .overflow-hidden;
  @extend .typeface-b1;

  ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

menu {
  @apply .m-0;
}

h1 {
  @apply .m-0;
  @extend .typeface-h1;
}

h2 {
  @apply .m-0;
  @extend .typeface-h2;
}

h3 {
  @apply .m-0;
  @extend .typeface-h3;
}

h4 {
  @apply .m-0;
  @extend .typeface-h4;
}

h5 {
  @apply .m-0;
  @extend .typeface-h5;
}

h6 {
  @apply .m-0;
  @extend .typeface-h6;
}

p {
  @apply .m-0;
  @extend .typeface-b1;
}

@keyframes skeleton-shimmer {
  to {
    background-position: 200% 0;
  }
}
