doctype html

.skeleton-list-component
  .auto-box(skeletonShimmer)
    .skeleton-header
    .converters
      each i in [0,0]
        .skeleton-converter
          .skeleton-chip
          .material-icons arrow_right_alt
          .outputs
            each j in [0,0,0]
              .skeleton-chip
