@import "src/styles/tailwind";

$height: 56px;

.md-app-bar-component {
  @apply .flex .items-center .px-3;
  @apply .bg-teal .shadow-md .text-white .z-10;

  height: $height;

  .left {
    @apply .flex;

    .title {
      @apply .text-2xl .pl-4;
      line-height: 2rem;
    }
  }
}
