@import "src/styles/fonts";
@import "src/styles/tailwind";

$converter-min-width: 285px;

.converter-list {
  @apply .h-full;

  .list {
    @apply .flex .flex-wrap;

    div {
      flex: 1 0 auto;
      min-width: $converter-min-width;
    }

    .empty {
      @apply .mt-32 .flex .justify-center .items-center;

      .material-icons {
        @apply .mx-1 .text-teal;
      }
    }
  }
}
