.icon-button-menu-component
  icon-button(on-buttonClick="onButtonClicked()" bind-icon="icon")
    menu(bind-items="items" bind-open="open" on-itemSelected="onItemSelected($event)" on-closed="onMenuClosed()" bind-searchEnabled="searchEnabled")
