doctype html

.list-component(on-click="onClicked()" mdRipple '[@slideIn]'="'open'")
  h5 {{ list.displayName }}
  .converters
    .converter(*ngFor="let c of list.converters")
      md-chip(text="{{c.inputUnitDisplayName}}")
      .material-icons arrow_right_alt
      .outputs
        md-chip(*ngFor="let n of c.outputUnitDisplayNames" text="{{n}}")
