doctype html

.converter-card-component('[@slideIn]'="'open'")
  .header
    .title {{conversion.unitType.displayName}}
    span.buttons
      md-icon-button-menu(icon="more_vert" bind-items="moreMenuItems" on-itemSelected="onMoreMenuItemSelected($event)")
      md-icon-button-menu(icon="category" bind-items="unitTypes" bind-open="categoriesOpen" on-itemSelected="onCategorySelected($event)" searchEnabled="true")
      md-icon-button(on-buttonClick="onCloseClicked()" icon="close")
  .body
    .row
      .path.next
      md-text-field(label="Input" icon="file_copy" on-iconClicked="onCopyInput()")
        input(#input bindon-ngModel="conversion.input.value" type="number")
      md-raised-button-menu(bind-text="conversion.input.unit.symbol" allowLowercase="true" bind-items="getUnitItems()" on-itemSelected="onInputUnitSelected($event)" searchEnabled="true")

    .row(*ngFor="let o of conversion.outputs; index as i")
      .path.prev(on-click="onRemoveOutputClicked(o)" bind-ngClass="{'next': i < conversion.outputs.length - 1, 'active': !oneOutput()}")
        span.material-icons close
      md-text-field(label="{{'Output' + (!oneOutput() ? (' ' + (i+1)) : '')}}" icon="file_copy" on-iconClicked="onCopyOutput(o)")
        input(#input bindon-ngModel="o.value" type="number" readonly)
      md-raised-button-menu(bind-text="o.unit.symbol" allowLowercase="true" bind-items="getUnitItems()" on-itemSelected="onOutputUnitSelected(o, $event)" searchEnabled="true")
