@import 'src/styles/animations';
@import "src/styles/fonts";
@import "src/styles/tailwind";

$height: 36px;
$min-width: 64px;
$padding: 16px;

$outline-color-light: rgba(255, 255, 255, 0.2);
$outline-color-dark: rgba(0, 0, 0, 0.12);
$outline-width: 1px;

.md-flat-button-component {
  @apply .select-none .cursor-pointer;
  @apply .text-light .rounded;
  @apply .flex .items-center;
  @extend .typeface-btn;

  height: $height;
  min-width: $min-width;
  padding: 0 $padding;

  &.outlined {
    border: $outline-width solid $outline-color-light;
  }

  &:hover {
    @apply .bg-white-10;
  }

  &.dark {
    @apply .text-primary;

    &:hover {
      background-color: rgba(77, 192, 181, 0.1);
    }

    &.outlined {
      border: $outline-width solid $outline-color-dark;
    }
  }

  &.uppercase {
    text-transform: uppercase;
  }
}
