doctype html

.user-auth-component
  md-icon-button-menu(*ngIf="userAuth | async; let user; else login" bind-image="user.profilePictureUrl" bind-items="profileMenuItems" on-itemSelected="onProfileMenuItemSelected($event)")
  ng-template(#login)
    md-flat-button(on-click="onLoginClicked()" isOutlined="true" text="Sign in")
