.md-raised-button-menu
  md-raised-button(on-click="onButtonClicked()" bind-text="text" bind-allowLowercase="allowLowercase" bind-icon="open ? 'arrow_drop_up' : 'arrow_drop_down'" iconFloatRight="true")
  md-menu(bind-items="items" bind-open="open" on-itemSelected="onItemSelected($event)" on-closed="onMenuClosed()" bind-searchEnabled="searchEnabled")
