doctype html

.public-lists-component
  md-backdrop(title="Chimerical Conversions" subtitle="Public Converter Lists" bind-navigationItems="navigationItems")
    .actions
      user-auth
    .options
    ul.list(#list)
      // Converters
      li(*ngFor="let l of listsService.publicLists")
        list(bind-list="l")

      // Skeleton screen
      each i in [0]
        li(*ngIf="loading")
          skeleton-converter-list-card
