.public-lists-component
  md-backdrop-component(header="Public Converter Lists")
    .options
    .list
      // Skeleton screen
      // each i in [0,0,0]
      //  div(*ngIf="!ready")
      //    skeleton-list

      // Converters
      div(*ngFor="let l of lists")
        list(bind-list="l")
