@import 'src/styles/tailwind';

$path-size: 12px;
$small-path-size: 12px / 2;
$path-gap: 14px;

$skeleton-row-height: 55px;
$skeleton-raised-button-width: 80px;

@mixin path-circle($top) {
  @apply .bg-grey-lightest .rounded-full .absolute;

  content: '';

  top: $top;
  left: ($path-size / 2) - ($small-path-size / 2);

  width: $small-path-size;
  height: $small-path-size;
}

@keyframes loading {
  to {
    background-position: 200% 0;
  }
}

.skeleton-converter-component {
  @apply .flex .flex-col .shadow .rounded-lg .bg-white .m-3 .relative;

  .overlay {
    @apply .absolute .w-full .h-full z-10;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)) no-repeat -100% 0;
    background-size: 50%;
    animation: loading 1.5s infinite;
  }

  .header {
    @apply .flex .justify-between .items-center;
    @apply .rounded-t-lg .h-12 .bg-grey-light .pr-1 .pl-2 .text-white;

    .title {
      @apply .text-lg .font-bold;
    }

    .buttons {
      @apply .flex;
    }
  }

  .body {
    @apply .rounded-b-lg .p-2 .pt-5;

    .row {
      @apply .flex .items-center .mb-3;
      height: 55px;

      .path {
        @apply .flex .items-center .justify-center;
        @apply .bg-grey-lighter .rounded-full .mr-2 .relative .select-none;

        width: $path-size;
        height: $path-size;

        .material-icons {
          @apply .font-bold .text-grey .hidden;
          font-size: $path-size + 4px;

          &:hover {
            @apply .text-grey-dark;
          }

          &:active {
            @apply .text-grey-darker;
          }
        }

        &.active {
          @apply .cursor-pointer .bg-transparent;

          .material-icons {
            display: initial;
          }
        }

        &.prev {
          &:before {
            @include path-circle(-$small-path-size - $path-gap)
          }
        }

        &.next {
          &:after {
            @include path-circle($path-size + $path-gap)
          }
        }
      }

      .skeleton-text-box {
        @apply .flex-1 .mr-2 .rounded .bg-grey-lighter .h-full;
      }

      .skeleton-raised-button {
        @apply .rounded .h-full .bg-grey-lighter;
        width: $skeleton-raised-button-width;
      }
    }
  }
}
