doctype html

md-dialog(header="Sign in")
  .body(*ngIf="data.identityProviders | async; let identityProviders;")
    md-list-button(*ngFor="let i of identityProviders" on-click="result.emit(i)" bind-text="'Sign in with ' + i.displayName" bind-image="i.iconUrl" isDark="true")
  .actions
    md-flat-button(on-click="this.modalService.closeModal()" text="Cancel" bind-isDark="true")
